// ========================================
// Couleurs de la charte graphique
// ========================================

$primary: #906427;
$secondary: #B6AC97;
$dark: #392C1E;
$black: #292222;
$white: #FFFFFF;


// ========================================
// Typographies
// ========================================

$font-family-base: "Hind Madurai", sans-serif;
$headings-font-family: "Montserrat", sans-serif;


// ========================================
// Personnalisation Bootstrap
// ========================================

$body-bg: $white;
$body-color: $black;

$headings-color: $dark;

$btn-border-radius: 0.25rem;